@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100dvh;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
}

.stress-overlay-texture {
  background-image: linear-gradient(
    rgba(15, 23, 42, 0.9), 
    rgba(15, 23, 42, 0.95)
  ), 
  repeating-linear-gradient(
    0deg,
    transparent,
    transparent 2px,
    #991b1b 2px,
    #991b1b 4px
  );
  background-size: 100% 100%, 100% 4px;
  animation: scanline 10s linear infinite;
}

@keyframes scanline {
  0% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
